<nav
	class="p-6 flex flex-row justify-between bg-gray-700 text-gray-50 nav__Header"
>
	<ul class="flex flex-row">
		<li class="px-2">
			<a
				[routerLink]="['/']"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}"
				>Home</a
			>
		</li>
		<li class="px-2">
			<a [routerLink]="['/About']" routerLinkActive="active">About</a>
		</li>
	</ul>
	<ul class="flex flex-row">
		<ng-container *ngIf="(singedIn$ | async) !== true">
			<li class="px-2">
				<a [routerLink]="['/sign-in']" routerLinkActive="active">Sign-In</a>
			</li>
			<li class="px-2">
				<a
					[routerLink]="['/']"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{exact: true}"
					>Sign-Up</a
				>
			</li>
		</ng-container>
		<ng-container *ngIf="(singedIn$ | async)">
			<li class="px-2">
				<a [routerLink]="['/inbox']" routerLinkActive="active">Inbox</a>
			</li>
			<li class="px-2">
				<a [routerLink]="['/sign-out']" routerLinkActive="active">Sign-Out</a>
			</li>
		</ng-container>
	</ul>
</nav>
