<nav class="p-6 flex flex-row justify-between bg-gray-700 text-gray-50">
	<ul class="flex flex-row">
		<li class="px-2">
			<a [routerLink]="['/']" routerLinkActive="active">Home</a>
		</li>
		<li class="px-2">
			<a [routerLink]="['/About']" routerLinkActive="active">About</a>
		</li>
	</ul>
	<ul class="flex flex-row">
		<li class="px-2">
			<a [routerLink]="['/sign-in']" routerLinkActive="active">Sign-In</a>
		</li>
		<li class="px-2">
			<a [routerLink]="['/']" routerLinkActive="active">Sign-Up</a>
		</li>
		<li class="px-2">
			<a [routerLink]="['/inbox']" routerLinkActive="active">Inbox</a>
		</li>
		<li class="px-2">
			<a [routerLink]="['/sign-out']" routerLinkActive="active">Sign-Out</a>
		</li>
	</ul>
</nav>
